.card {
    width: 18%;
    margin: 0.5%;
    align-content: center;

}

h3 {
    font-size: 150%;
}

.main img {
    width: 8%;
}

.card img {
    width: 50%;
}

h4 {
    font-size: 130%;
    
}

h1 {
    font-size: 400%;
}

#5day {
    align-items: center;
    justify-content: center;
}

.main {
    margin: 0.5%;
}

.main p, h3,img {
    font-size: 120%;
    margin: 0.1%;
}

