.card {
    width: 18%;
    margin: 0.5%;
    align-content: center;

}

h3 {
    font-size: 150%;
}

.main img {
    width: 6%;
}

.card img {
    width: 50%;
}

h4 {
    font-size: 130%;
    
}

h2 {
    font-size: 270%;
}

h1 {
    font-size: 300%;
}

#5day {
    align-items: center;
    justify-content: center;
}

.main {
    margin: 0.5%;
}

.main p, h3,img {
    font-size: 120%;
    margin: 0.1%;
}

.totalSearch {
    background-color: rgb(233, 232, 232);
    border: darkgray solid 1px;
}

label {
    color:black;
}

.jumbo {
    padding-top: 0.002%;
    padding-bottom: 0.2%;
}

::placeholder{
    color: darkgray;
}